melodic_structures.csv
bs_comparison/*
comparison/*
heatmap_scripts/*
note_duration_threshold/*
outputs2/*
output_files/*
transpositions_list/*
__pycache__/*
thresholds/*
*(copy).py
backup/
comparison_Feb2025/*
__pycache__/*

